#header {
    background-color: #EBA400;
    height: 115px;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 35px;
    color: white;
}

.form {
    margin-top: 35px;
    margin-bottom: 100px;
}

#input-btn{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    --padding-start: 15px;
    --padding-end: 15px;
    color: #606060;
    margin-bottom: 15px;
}

.btn-label {
    margin-bottom: 8px;
    font-size: 20px;
}

#add-btn {
    margin-top: 25px;
    height: 50px;
    span {
        color: #eba400;
        font-weight: 700;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    #add-btn-row {
        width: 100%;
        position: fixed !important;
        bottom: 0 !important;
        --background: var(--ion-color-light);
    }

    #add-btn {
        width: 100%;
        height: 75px;
        span {
            color: #eba400;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}