<ion-app>
  <ion-menu side="start">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="menuClose()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <ion-menu-toggle>
        <ion-item lines="none" class="ion-text-center menu-options" [routerLink]="['/','home','homePage']" >
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" class="ion-text-center" [routerLink]="['/','home','profile']">
          <ion-label>My Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" class="ion-text-center" [routerLink]="['/','home','help']">
          <ion-label>Help</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" class="ion-text-center" [routerLink]="['/','home','homePage']">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>