#header {
    background-color: #EBA400;
    height: 115px;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 35px;
    color: white;
}

.content {
    font-size: 19px;
    margin-bottom: 20px;
}

#header-img {
    height: 40px;
    padding-right: 85px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #header-img {
        height: 40px;
        padding-right: 50px;
        cursor: pointer;
    }
}