<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-nav>
        <ion-row style="justify-content: center">
          <img alt="logo" src="../../../assets/logo.png" height="50px" width="200px">
        </ion-row>
      </ion-nav>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row style="justify-content: center">
      <ion-text color="danger">
        <h5>You are requesting for new password</h5>
      </ion-text>
    </ion-row>

    <ion-row style="justify-content: center">

      <form>
        <ion-card>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>



          </ion-list>

          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Reset Password</ion-button>
          </div>
        </ion-card>
      </form>

    </ion-row>

  </ion-content>
</ion-app>
